set incsearch
set ignorecase
set hlsearch
set number
set relativenumber
set NERDTree

let mapleader = " "

nnoremap L $
nnoremap H ^


" file navigation
nnoremap gh :action PreviousTab<CR>
nnoremap gl :action NextTab<CR>
nnoremap gj :action MethodDown<CR>
nnoremap gk :action MethodUp<CR>
nnoremap gs :action GotoSuperMethod<CR>
nnoremap gi :action GotoImplementation<CR>
nnoremap g, :action JumpToLastChange<CR>
nnoremap g. :action JumpToNextChange<CR>
nnoremap gd :action GotoDeclaration<CR>
nnoremap gr :action RecentFiles<CR>
nnoremap gn :action GotoNextElementUnderCaretUsage<CR>

nnoremap <leader>re :action RenameElement<CR>
nnoremap <leader>ge :action Generate<CR>
nnoremap <leader>ac :action ShowIntentionActions<CR>

nnoremap <leader>sc :action GotoClass<CR><BS>
nnoremap <leader>sf :action FindInPath<CR>
nnoremap <leader>rf :action ReplaceInPath<CR>

nnoremap <leader>er :action ExpandAllRegions<CR>
nnoremap <leader>cr :action CollapseAllRegions<CR>

nnoremap <leader>fw :action AceWordAction<CR>
nnoremap <leader>fp :action AceTargetAction<CR>

nnoremap <A-j> :action MoveLineDown<CR>
nnoremap <A-k> :action MoveLineUp<CR>

nnoremap <leader>zm :action ToggleZenMode<CR>

nnoremap <leader>nh :nohlsearch<CR>
nnoremap <leader>ww :action HideAllWindows<CR>
nnoremap <leader>sw :action Switcher<CR>

nnoremap <leader>se :action ActivateProjectToolWindow<CR>
nnoremap <leader>sl :action LocateInSolutionView<CR>

" Split management - try these alternative action names
nnoremap <leader>sv :action MoveTabRight<CR>
nnoremap <leader>sh :action MoveTabDown<CR>
nnoremap <leader>su :action Unsplit<CR>
nnoremap <leader>sa :action UnsplitAll<CR>
nnoremap <leader>sn :action NextSplitter<CR>
nnoremap <leader>sp :action PrevSplitter<CR>
